logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
*.css
!app/circle.css
docs/**/*.scss
docs/**/*_test.js
!docs/bower_components
!docs/app.css
!docs/bower_components/bootstrap/dist/css/bootstrap.min.css
!docs/bower_components/bootstrap/dist/css/bootstrap-theme.min.css
