.experience-container {
  .one-entry {
    margin-bottom: 50px;
    img {
      float: left;
      padding-right: 20px;
      width: 170px;
      height: 150px;
    }
    .details-container {
      .time-line {
        font-weight: bold;

        .from:after {
          content: " - ";
        }
      }
    }
    .results-container {
      clear: both;
    }
  }
}