$backgroundColor: #efefef;
$primaryColor: #caebf2;
$secondaryColor: #a9a9a9;
$highlightColor: #ff3b3f;
$textColor: #333;

$navBarFixedTopPadding: 70px;
$footerBarHeight: 30px;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* handle .navbar-fixed-top */
  padding-top: $navBarFixedTopPadding;
  margin-bottom: $footerBarHeight;
  background-color: $backgroundColor;
  color: $textColor;
}

.menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.main-content {
  clear: both;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerBarHeight;
  text-align:right;
}

blockquote {
  border-left-color: $highlightColor;
}

/* Pages */
@import "home/home";
@import "summary/summary";

/* Components */
@import "components/skillBar/skillBar";